# Introduccion a Pandas
[Pandas](https://pandas.pydata.org/about/index.html) es una biblioteca que proporciona estructuras de adatos y herramientas de analisis de datos de alato remdimiento y faciles de usar.
* La estructura de datos principal es el DataFrame, que puede conciderarse como una tabla 2D en memoria (como una hoja de calculo, con nombres de columna y etiquetas de fila).
* Muchas funciones disponibles en excel, estan disponibles mediante programación como crear tablas dinamicas, calcular columnas basadas en otras columnas , trazar graficós.
* Proporciona un alto rendimiento para manipular (unir, dividir, modificar, etc...)grandes conjuntos de datos .

## Import

In [1]:
import pandas as pd

### Estructras de datos de Pandas
La biblioteca de Pandas, de manera genérica, contiene las siguientes estructuras de datos:

* **Series**: Array de una dimensión
* **DataFrame**: Corresponde a una tabla de 2 dimensiones
* **Panel**: Es similar a un diccionario de DataFrame´s

### Creacion del Objeto Series.

In [2]:
s = pd.Series([2, 4, 6, 8, 10])
print(s)

TypeError: Cannot convert numpy.ndarray to numpy.ndarray

In [ ]:
# Creacion de un objeto series inicializado con un diccionario de python.
Altura = {"Gabo": 175,"Lucero":160,"Braulio":180,"Jess":161}
s = pd.Series(Altura)
print(s)

In [ ]:
# Crear un objeto series e incializarlo con algunos de los elementos de un diccionario de Python.
Altura = {"Gabo": 175,"Lucero":160,"Braulio":180,"Jess":161}
s = pd.Series(Altura, index = ["Braulio", "Gabo"])
print(s)

In [ ]:
# Crear un objeto series e incializarlo con un escalar
s = pd.Series(34, ["Test1", "Test2", "Test3"])
print(s)

## Acceso a los elementos de un objeto Series.
Cada elemento en un obejto Series, tiene un identificador único que se denomina **index label**

In [ ]:
# Crear un objeto Series.
s = pd.Series([2,4,6,8], index = ["Num1", "Num2", "Num3", "Num4"])
print(s)

In [ ]:
# Acceder al tercer elemento del onbjeto
s["Num3"]

In [ ]:
# Acceder al tercer elemento del onbjeto por posicion.
s[2]

In [ ]:
# Para acceder por posicion es mejor acceder con i.loc ya que es la forma estandar de acceso a los elementos de un objeto Series por atributo.
s.loc["Num3"]

In [ ]:
# Para acceder por posicion se usa i.loc ya que es la forma estandar para acceder a los elementos de un objeto Series por posicion
s.iloc[2]

In [ ]:
# Accediendo al segundo y al tercer elemento por posicion.
s.iloc[2:4]

## Operaciones aritmeticas con objetos Series.

In [ ]:
# Creacion de un objeto Series.
s = pd.Series([2, 4, 6, 8, 10])
print(s)

In [ ]:
# Los objetos Series son similares y compatibles con los Arrays de Numpy.
import numpy as np
# Universal function de numpy para sumar los elementos de un array.
np.sum(s)

In [ ]:
# El resto de las operaciones aritmeticas de Numpy sobre Arrays tambien son posibles ,
# Nota: para mas informacion revisa la documentacion o a la introduccion de Numpy
s * 2

In [ ]:
s - 3

## Representacion Grafica de un objeto Series

In [ ]:
Tempt = [4.4, 5.1, 6.1, 6.2, 6.1, 6.1, 5.7, 5.2, 4.7, 4.1, 3.9]
s = pd.Series(Tempt, name = "Temperaturas")
print(s)

In [ ]:
# Representacion Gráfica 
%matplotlib inline
import matplotlib.pyplot as plt
s.plot()
plt.show()

## Creacion de un objeto DataFrame

In [ ]:
# Creacion de un DataFrame inicializandolo con un diccionario de objeto Series 
Person = {
    "Peso": pd.Series([70, 68, 60, 70], ["Gabo", "Lucero", "Jess", "Braulio"]),
    "Altura": pd.Series({"Gabo": 175, "Lucero": 160, "Jess": 161, "Braulio": 180}),
    "Mascota": pd.Series([4, 7,], ["Gabo", "Braulio"])
}

df = pd.DataFrame(Person)
df

puede forzarse el dataframe que presenta una columnas determinadas y en un orden determinado.

In [ ]:
# Creacion de un DataFrame inicializandolo con un diccionario de objeto Series 
Person = {
    "Peso": pd.Series([70, 68, 60, 70], ["Gabo", "Lucero", "Jess", "Braulio"]),
    "Altura": pd.Series({"Gabo": 175, "Lucero": 160, "Jess": 161, "Braulio": 180}),
    "Mascota": pd.Series([4, 7,], ["Gabo", "Braulio"])
}
df = pd.DataFrame(
    Person,
    colums = ["Altura", "Peso"],
    index = ["Gabo", "Braulio", "Lucero"]
)
df

In [ ]:
df= pd.DataFrame (
    valores,
    colums = [""]
)